@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
	background-color: #fff;
}

.navigation {
	background-color: #fff;
	height: 50px;
	line-height: 45px;
	border-top: 2px solid #3b5998;
	border-bottom: 1px solid #eee;
	box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

.navcontainer {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
	height: auto;
}

.search-container {
	display: inline-block;
	line-height: 25px;
}

.navigation ul {
	padding: 0;
	height: auto;
	display: inline-block;
	margin:0;
}

.navigation ul.search-nav {
	padding: 0px 10px;
}

.navigation ul.search-nav li input {
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border:1px solid #e2e2e2;
	background-color: #f4f4f4;
	font-weight: 200;
	padding: 0 8px;
	border-radius: 3px;
	display: block;
	outline: none;
	margin-right: -1px;
}

.search {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	width: 300px;
}

.search-btn {
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	background-color: white !important;
	box-shadow: none !important; 
}

.navigation li {
	list-style-type: none;
	display: inline-block;
}

.navigation li a {
	display: block;
	font-weight: 500;
	color: #999;
	padding: 0 10px;
	text-decoration: none;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navigation li a:hover {
	color: #3b5998;
}

.logo {
	font-size: 24px !important;
	color: #3b5998 !important;
}

.dropbtn:hover {
	cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    overflow: auto;
    margin-top: 5px;
    transition: 0.5s;
    margin-left: 250px;
    border:1px solid #eee;
    box-shadow:0 3px 2px -2px rgba(200,200,200,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #999;
    padding: 0px 16px;
    text-decoration: none !important;
    display: block;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 400;
    font-size: 18px;
}

.dropdown-content a:hover {background-color: #eee !important}

.show {display:block;}

.container-fluid {
	width: 1000px;
	margin:0 auto;
	height: auto;
	padding: 0;
	padding-top: 25px;
}

.col-sm-6 {
	padding: 0 !important;
}

.col-sm-3:first-child {
	padding-left: 0;
}

.col-sm-3:last-child {
	padding-right: 0;
}

.upvote-btn {
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
	font-weight: 500;
	padding: 3px 7px 4px 7px;
	text-align: center;
	color: #3b5998;
	border:1px solid rgb(187, 202, 220);
	background-color: #f1f8fb;
	transition: 0.2s;
	outline: none;
}

.upvote-btn:hover {
	border-color: #3b5998;
}

.upvoted-btn {
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
	font-weight: 500;
	padding: 3px 7px 4px 7px;
	text-align: center;
	color: #999;
	border:1px solid #ddd;
	background-color: #f6f6f6;
	outline: none;
	transition: opacity ease-in-out 100ms,
				color ease-in-out 100ms,
				background-color ease-in-out 100ms,
				border-color ease-in-out 100ms;

}

.upvoted-btn:hover {
	
}

.unchecked {
	color: #BBFCCB;
}

.checked {
	color: #00c431;
}

.panel-test {
	border-bottom: 1px solid #eee;
	padding: 5px;
}

.panel-test a {
	font-size: 20px;
	color: #777;
	font-family: 'Helvetica', sans-serif;
	text-decoration: none;
}

.panel-test a:hover {
	text-decoration: none;
	color: #555;
}

.post-panel {
	border-bottom: 1px solid #eee;
}

.post-panel:hover {
	background-color: #fafafa;
}

.post-panel-heading {
	padding: 5px;
	font-family: 'Helvetica', sans-serif;
}

.post-panel-footer {
	padding: 5px;
}

.post-title {
	font-size: 20px;
	font-family: Arial;
	color: black;
}

.post-title:hover {
	color: black;
}

textarea {
	resize: none !important;
	overflow: hidden;
}

form {
	margin: 0;
}